.teacherDiv {
  display: flex;
  gap: 48px;
  border-radius: 24px;
  padding: 24px;
  max-width: 1184px;
  min-height: 328px;
  background-color: #fff;
  color: #121417;
  margin-bottom: 32px;
}

.teacherPic {
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  min-width: 120px;
  height: 120px;
  background-color: #fff;
  overflow: hidden;
}

.teacherPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.teacherDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  gap: 32px;
}

.teacherStatsDiv {
  display: flex;
  justify-content: space-between;
}

.teacherName p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.teacherName h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #121417;
}

.teacherStats {
  display: flex;
  align-items: center;
}

.teacherStats p {
  margin: 0 8px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 8px;
}

.readMore {
  font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #121417;
}
.teacherCardSpan {
  color: #8a8a89;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px 64px;
  border-radius: 8px;
  position: relative;
  text-align: start;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.levels {
  display: flex;
  gap: 8px; 
  margin-top: 16px; 
}

.firstLevel {
  border-radius: 35px;
  padding: 8px 12px;
  width: fit-content;
  height: 32px;
  background-color: #f4c550;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otherLevels {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  width: fit-content;
  height: 32px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviewer {
  margin-bottom: 16px; 
}

.reviewProfile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviewerPhoto {
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.reviewProfile p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  display: flex;
  align-items: center;
  gap: 2px;
}

.reviewComment {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
  margin-top: 8px; 
  
}
.teacherInfo {
  display: flex;
    flex-direction: column;
    gap: 12px;
    color: #121417;
    
}
.teacherExperience {
  font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgb(18, 20, 23);
}

.bookTrialButton {
  border-radius: 12px;
padding: 16px 48px;
width: fit-content;
height: 60px;
background-color: #f4c550;
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 156%;
color: #121417;
border: none;
}
.bookTrialButton:hover {
  background-color: #ffdc86
}
.teacherDetails {
  display:flex;
  flex-direction: column;
  gap:32px;
}